/*
Binder
Author: Clement Valla
Version: 1.0
*/

*{
 	margin: 0;
	padding: 0;
 }
html {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 900px;

}

div#background-site {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:1;
}

div#background-site iframe {
	width: 100%;
	height: 100%;
	border: none;
	overflow: scroll;
}

div#menu {
	text-transform: uppercase;
	position: fixed;
	color: white;
	z-index:100;
	font: 1em Open Sans;
	cursor: move;
	mix-blend-mode: multiply;
	width: 100vh;   
	margin: 1em; 
  	transform-origin: left top;
 	transform: rotate(-90deg) translateX(-98%);
}
#navigation {
	display: flex;
	width: 100%;
}
#navigation li{
	list-style: none;
	flex: 1 1 auto;
	text-align: center;
	padding: .4em 1em;
	border-bottom: .15em springgreen solid;
}
#navigation li a {
	padding: .4em 1em;
	border-top: .15em springgreen solid;
	border-left: .15em springgreen solid;
	border-right: .15em springgreen solid;
}
#navigation2 {
	position: fixed;
	color: springgreen;
	text-transform: uppercase;
	z-index: 100;
	font: 1em Open Sans;
	mix-blend-mode: multiply;
	right: 4em;
	top: 4em;
	text-decoration: none;
	list-style: none;
	padding: 2em;
	border: .15em springgreen solid;
}


ul#navigation a, div.about{
	color: springgreen;
	text-decoration: none;
}
ul#navigation a.active{
	border-bottom: .15em #fff solid;
}

ul#navigation a:hover{
	border-bottom: .2em springgreen solid;
}

ul#navigation2 a{
	color: springgreen;
	text-decoration: none;
}

ul#navigation2 li.active1{
	list-style: disc;
}
ul#navigation2 a:hover{
}

h1#logo{
	position: fixed;
	font-family: Open Sans;
	font-weight: 600;
    letter-spacing: .4em;
    font-size: 7em;
    z-index: 100;
    color: springgreen;
	mix-blend-mode: multiply;	
	z-index: 101;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	pointer-events: none;	
}

div#fade1{
	position: fixed;
	z-index: 90;
	bottom:0;
	width: 100%;
	height: 18em;
	background-image: linear-gradient(to bottom, transparent, white);
	pointer-events: none;
}
div#fade2{
	position: fixed;
	z-index: 90;
	top:0;
	width: 100%;
	height: 18em;
	background-image: linear-gradient(to top, transparent, white);
	pointer-events: none;
}

.bill{
	position: fixed;
	right: 0;
	bottom: 0;
	width: 10em;
	mix-blend-mode: multiply;
	z-index: 100;
	transform: translateX(30%) scaleX(-1);
}

/* @group mobile */
@media only screen and (max-width: 720px) {
	body, html{
	position: relative;
		width: 100%;
	}
	div#background-site{
		-webkit-overflow-scrolling:touch; 
		overflow:auto;
	}
	div#background-site iframe{
		width: 100%;
		height: 5500px;
		overflow: hidden;
	}
	div#menu {
		position: fixed;
		width:95%;
		font-size: 16px;
		line-height: 22px;
		padding: 10px;
		z-index:10;
		left: 2px;
		top: 2px;
	}
	img#logo{
		position: fixed;
		left:50%;
		top:10px;
		margin-left: -80px;
		width:160px;
		margin: left:10%;
	}
	ul#navigation{
		display: none;
		text-indent: -1.5em;
		margin-left:1.5em; 
		margin-top: 20px;
	}
	div#menu-open{
		width: 30px;
		height: 35px;
		cursor: pointer;
	}
	div#menu-open div {
	    background-color: black;
	    border: 1px solid black;
	    border-radius: 2px 2px 2px 2px;
	    height: 15%;
	    margin-bottom: 15%;
	    width: 90%;
	}
	.border{
	}
	div.about{
		width: auto;
		display: none;
	}

}
/* @end */
