/* */

* {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	min-width: 900px;

	color: springgreen;
	font: 16px/1.4 Open Sans,sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}


/* big */

#banner {
	position: fixed;
    z-index: 2;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	
	font-weight: 600;
    letter-spacing: .4em;
    font-size: 7em;

	pointer-events: none;		
}

.fade {
	position: fixed;
	z-index: 1;
	height: 18em;
	pointer-events: none;
}

div#fade1{
	bottom:0;
	background-image: linear-gradient(to bottom, transparent, white);
}
div#fade2{
	top:0;
	background-image: linear-gradient(to top, transparent, white);
}


/* iframe */

div#bg-site {
	position: absolute;
	z-index: 0;
}

div#bg-site iframe {
	border: none;
	overflow: scroll;
}


/* navigation */

nav#menu {
	position: fixed;
	z-index:2;
	margin: 0 1em;
	
	width: 100vh;
	display: flex;   
  	
  	transform-origin: left top;
 	transform: rotate(-90deg) translateX(-100%);

 	border-bottom: .15em springgreen solid;
}

nav#menu li{
	flex: 1 1 auto;
	padding: .4em 1em;
	list-style: none;
	text-align: center;	
}

nav#menu li a {
	text-decoration: none;
	color: springgreen;

	padding: .4em 1em;
	border-top: .15em springgreen solid;
	border-left: .15em springgreen solid;
	border-right: .15em springgreen solid;

}

nav#menu li a.active {
	border-bottom: .15em white solid;
}

nav#menu li a:hover{
	border-bottom: .15em white solid;
	color: #00e572;
}



/* subnav */

nav#subnav {
	position: fixed;
	z-index: 2;
	right: 4em;
	top: 4em;

	list-style: none;
	padding: 2em;
	border: .15em springgreen solid;

	mix-blend-mode: multiply;

	cursor: move;
}

nav#subnav li a{
	color: springgreen;
	text-decoration: none;
}

nav#subnav li a:hover{
	color: #00e572;
}


/* utility */

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.p1 {
	padding: 1em;
}

.m1 {
	margin: 1em;
}

.multiply {
	mix-blend-mode: multiply;
}